# _config.yml of silly-story-generator

title: Simple Story Generator
description: >- # this means to ignore newlines until "baseurl:"
  A fun app that generates random silly stories
baseurl: /silly-story-generator
url: /silly-story-generator

author: © 2018 Jεan Sacren

timezone: America/Denver
encoding: utf-8

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
