---
# jekyll requires this front matter block
---

@import "minima";

main {
  div {
    div {
      padding-bottom: 20px;
      label {
        font-weight: bold;
      }
      input[type="text"] {
        padding: 5px;
        width: 150px;
      }
    }
    p.story {
      background: #FFC125;
      color: #5E2612;
      padding: 10px;
      visibility: hidden;
    }
  }
}
