---
# jekyll requires this front matter block
---

@import "minima";

label {
  font-weight: bold;  
}

main {
  div {
    div {
      padding-bottom: 20px;
    }
  }
}

.input[type="text"] {
  padding: 5px;
  width: 150px;
}

.p {
  background: #FFC125;
  color: #5E2612;
  padding: 10px;
  visibility: hidden;
}
